version: '3.8'

networks:
  bigdata:


services:
  cassandra:
    image: cassandra:4.1
    container_name: cassandra
    hostname: cassandra
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_AUTO_BOOTSTRAP=false
      - CASSANDRA_CLUSTER_NAME=NetFlow Cluster
      - CASSANDRA_LISTEN_ADDRESS=cassandra
      - CASSANDRA_BROADCAST_ADDRESS=cassandra
      - CASSANDRA_RPC_ADDRESS=cassandra
      - CASSANDRA_SEEDS=cassandra
      - CASSANDRA_ENDPOINT_SNITCH=SimpleSnitch
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_RACK=rack1
    volumes:
      - cassandra-data:/var/lib/cassandra
      - ./docker/cassandra/init.cql:/init.cql
    
    command: >
        bash -c "
        cassandra -f -R &
        echo 'Waiting for Cassandra to start...'
        sleep 30
        cqlsh -f /init.cql
        fg %1
        "
    networks:
      - bigdata



  spark-master:
    build:
      context: .
      dockerfile: docker/spark/Dockerfile
    command: /start-master.sh
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./scripts:/scripts
      - ./data:/data
      - ./model:/model
    environment:
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
    networks:
      - bigdata


  spark-worker:
    build:
      context: .
      dockerfile: docker/spark/Dockerfile
    command: /start-worker.sh spark://spark-master:7077
    depends_on:
      - spark-master
    environment:
      - SPARK_WORKER_HOST=spark-worker
    networks:
      - bigdata

  spark-submit:
    build:
      context: .
      dockerfile: docker/spark/Dockerfile
    depends_on:
      - spark-master
      - cassandra
      - kafka
    volumes:
      - ./scripts:/scripts
      - ./data:/data
      - ./model:/model
    networks:
      - bigdata

  zookeeper:
    image: confluentinc/cp-zookeeper:6.2.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    networks:
      - bigdata

  kafka:
    image: confluentinc/cp-kafka:6.2.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - bigdata



  capture:
    build:
      context: ./docker/capture
    privileged: true
    #network_mode: host
    volumes:
      - ./data/pcap:/pcap
      - ./data/flows:/flows
      - ./data/csv:/csv
    depends_on:
      - kafka
    environment:
      - INTERFACE=enp0s25
      - KAFKA_BROKERS=kafka:9092
      - TOPIC=netflow-data
    networks:
      - bigdata

volumes:
  cassandra-data:
