version: '3.8'

services:
  cassandra:
    image: cassandra:4.1
    container_name: cassandra
    hostname: cassandra
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_AUTO_BOOTSTRAP=false
      - CASSANDRA_LISTEN_ADDRESS=cassandra
      - CASSANDLA_RPC_ADDRESS=0.0.0.0
      - CASSANDRA_BROADCAST_ADDRESS=cassandra
      - CASSANDRA_SEEDS=cassandra
    volumes:
      - cassandra-data:/var/lib/cassandra
      - ./docker/cassandra/init.cql:/init.cql
      - ./docker/cassandra/cassandra.yaml:/etc/cassandra/cassandra.yaml
    command: cassandra -f -R


  spark-master:
    build:
      context: .
      dockerfile: docker/spark/Dockerfile
    command: /start-master.sh
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./scripts:/scripts
      - ./data:/data
      - ./model:/model

  spark-worker:
    build:
      context: .
      dockerfile: docker/spark/Dockerfile
    command: /start-worker.sh spark://spark-master:7077
    depends_on:
      - spark-master

  spark-submit:
    build:
      context: .
      dockerfile: docker/spark/Dockerfile
    depends_on:
      - spark-master
      - cassandra
      - kafka
    volumes:
      - ./scripts:/scripts
      - ./data:/data
      - ./model:/model

  zookeeper:
    image: confluentinc/cp-zookeeper:6.2.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:6.2.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1



  capture:
    build:
      context: ./docker/capture
    privileged: true
    network_mode: host
    volumes:
      - ./data/pcap:/pcap
      - ./data/flows:/flows
      - ./data/csv:/csv
    depends_on:
      - kafka
    environment:
      - INTERFACE=enp0s25
      - KAFKA_BROKERS=kafka:9092
      - TOPIC=netflow-data

volumes:
  cassandra-data:
